
@media screen and (min-width: 1331px){
    
    header{
        min-height: 100vh;
    }
   
    .accueil_texte{
        margin-top: -100px !important;
    }
    
   .boutonsaccueil{
       margin-top: -45px;
   }

   .réalisations{
       min-height: 50vh;
       display: flex;
       align-items: center;
       justify-content: center;
   }

   .contact{
       margin-top: 70px;
   }

   header#accueil .partie1{
       margin-top: -30px;
   }

   header#accueil .partie1 p{
   margin-left: 150px;
   margin-right: 150px;
}
   
   }



@media screen and (min-width: 1000px){
    
    header{
        min-height: 100vh;
    }
   
    .accueil_texte{
        margin-top: -80px;
    }
    
   .boutonsaccueil{
       margin-top: -45px;
   }

   section.infos{
    min-height: 70vh;
}

   
   }



@media screen and (max-width: 1000px){
    
    header{
        min-height: 118vh;
    }
   
    .accueil_texte{
        margin-top: -130px;
    }
    
   .boutonsaccueil{
       margin-top: -45px;
   }

   section.infos{
    min-height: 65vh;
}

  .réalisations p,
  .contact p{
      box-sizing: border-box;
      padding: 0 32px;
  }

   
   }

@media screen and (max-width: 821px){
    nav ul{
        display: flex;
        font-size: 14px;
        text-transform: lowercase;
      }
      
}


@media screen and (max-width: 700px){
    
    header{
        min-height: 108vh;
    }
   
    header#accueil .partie1{
        padding-top: 255px;
    }

   
   
       header#accueil .partie1 h1{
           font-size: 26px;
       }
   
       header#accueil .partie1 h2{
           font-size: 20px;
       }
   
       header#accueil .partie1 p{
           font-size: 14px;
       }
   
       header .accueil_texte a {
           gap: 44px;
           margin-top: 13px;
           flex-direction: column;
           font-size: 14px;
         }
   
         header .accueil_texte img {
           width: 70%;
         }
   
         header .boutonsaccueil{
          margin-top: -50px;
         }

      
     
   
         section.infos h4,
         section.réalisations h4,
         section.contact h4{
             font-size: 24px;
   }
   
   section.réalisations p,
   section.contact p{
       font-size: 14px;
   }
   
   .réalisations .creas{
       display: flex;
       flex-direction: column-reverse;
       align-items: center;
       justify-content: center;
     }
   
     .réalisations .creas img {
       margin-top: 25px;
       padding-bottom: 1px;
       width: 100%;
       
       display: flex;
   }
   
   section.infos{
       min-height: 45vh;
   }
   
   
   }


@media screen and (max-width: 488px){
    

    header{
        min-height: 107vh !important;
    }


    header#accueil .partie1{
        padding-top: 255px;
    }

    header#accueil .partie1 h1{
        font-size: 26px;
    }

    header#accueil .partie1 h2{
        font-size: 20px;
    }

    header#accueil .partie1 p{
        font-size: 14px;
    }

    header .accueil_texte a {
        gap: 14px;
    display: flex;
        flex-direction: column;
        font-size: 14px;
      }

      header .accueil_texte img {
        width: 70%;
      }

      header .boutonsaccueil{
       margin-top: -60px;
      }

      section.infos h4,
      section.réalisations h4,
      section.contact h4{
          font-size: 24px;
}

section.réalisations p,
section.contact p{
    font-size: 14px;
}

.réalisations .creas{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .réalisations .creas img {
    margin-top: 25px;
    padding-bottom: 1px;
    width: 100%;
    
    display: flex;
}

section.infos{
    min-height: 40vh;
}


}


@media screen and (max-width: 400px){
    

    header{
        min-height: 107vh !important;
    }

  .accueil_texte{
      margin-top: -130px;
  }

}
