@media screen and (min-width: 1000px){
    
    header{
        min-height: 100vh;
    }
   
    .accueil_texte{
        margin-top: -80px;
    }
    
   .boutonsaccueil{
       margin-top: -45px;
   }
   
   }



@media screen and (max-width: 1000px){
    
    header{
        min-height: 88vh;
    }
   
    .accueil_texte{
        margin-top: -130px;
    }
    
   .boutonsaccueil{
       margin-top: -45px;
   }
   
   }




@media screen and (max-width: 700px){
    
    header{
        min-height: 88vh;
    }
   
    header#accueil .partie1{
        padding-top: 205px;
    }

   
       header#accueil .partie1 h1{
           font-size: 26px;
       }
   
       header#accueil .partie1 h2{
           font-size: 20px;
       }
   
       header#accueil .partie1 p{
           font-size: 14px;
       }
   
       header .accueil_texte a {
           gap: 44px;
           display: flex;
           flex-direction: column;
           font-size: 14px;
         }
   
         header .accueil_texte img {
           width: 70%;
         }
   
         header .boutonsaccueil{
          margin-top: -60px;
         }
   
         section.infos h4,
         section.réalisations h4,
         section.contact h4{
             font-size: 24px;
   }
   
   section.réalisations p,
   section.contact p{
       font-size: 14px;
   }
   
   .réalisations .creas{
       display: flex;
       flex-direction: column-reverse;
       align-items: center;
       justify-content: center;
     }
   
     .réalisations .creas img {
       margin-top: 25px;
       padding-bottom: 1px;
       width: 100%;
       
       display: flex;
   }
   
   section.infos{
       min-height: 60vh;
   }
   
   
   }


@media screen and (max-width: 488px){
    

    header{
        min-height: 87vh !important;
    }


    header#accueil .partie1{
        padding-top: 205px;
    }

    header#accueil .partie1 h1{
        font-size: 26px;
    }

    header#accueil .partie1 h2{
        font-size: 20px;
    }

    header#accueil .partie1 p{
        font-size: 14px;
    }

    header .accueil_texte a {
        gap: 44px;
        display: flex;
        flex-direction: column;
        font-size: 14px;
      }

      header .accueil_texte img {
        width: 70%;
      }

      header .boutonsaccueil{
       margin-top: -60px;
      }

      section.infos h4,
      section.réalisations h4,
      section.contact h4{
          font-size: 24px;
}

section.réalisations p,
section.contact p{
    font-size: 14px;
}

.réalisations .creas{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .réalisations .creas img {
    margin-top: 25px;
    padding-bottom: 1px;
    width: 100%;
    
    display: flex;
}

section.infos{
    min-height: 60vh;
}


}


@media screen and (max-width: 400px){
    

    header{
        min-height: 87vh !important;
    }

  .accueil_texte{
      margin-top: -130px;
  }

}
