
html{
    background: url(/assets/bg2012.png) no-repeat fixed;
    background-size: cover;
}

h1, h2{
    color:white;
}

.container {
    padding: 0 32px;
    max-width: 1950px;
    width: 100%;
    margin: auto;
  }


  /* SECTION 1  : Accueil */

  section.accueil{
    background: url(/assets/backgroundaccueil.png) no-repeat;
    min-height: 99vh;

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
 top: 50%;
   

  }

  section.accueil .left_accueil{
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(0,0,0,0.1);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0.6)),to(transparent));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0.6),transparent);
    background-image: linear-gradient(90deg,rgba(0,0,0,0.6),transparent);
   
    margin-left: -40px;
padding-left: 190px;
    height: 94vh;
    padding-top: 1px;
  }


section.accueil  .accueil_text h1{
      font-family: 'Moderat';
      font-size: 43px;
      font-weight: 100;
      display: flex;
      flex-direction: column;
     padding-top: 300px;
}

  section.accueil  .accueil_text h2{
    font-family: 'Moderat';
    font-size: 24px;
    font-weight: 100;
    color: lightgray;
    display: flex;

}

.accueil_buttons{
    display: flex;
    gap: 80px;
    margin-top: 40px;
    
}

.accueil_buttons a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: 'Moderat';
  display: flex;
align-items: center;
}

.accueil_buttons a img{
  color: white;
  -webkit-filter: invert(100%);
}


.info,.forum{
  padding-left: 7px;
  padding-top: 2px;
}

.info:hover{
  color: white;
  background-color: red;
  -webkit-filter: invert(0%);
  border-radius: 90px;
}

.menunav{
  background-color: #b5b3c4;
  opacity: 0.8;
  min-height: 100vh;
  width: 17%;
  float: right;
  margin-top: -977px;
  margin-right: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menunav img{
  margin-top: -750px;
  height: 40%;
  width: 40%;
}





/* Section 2 : Actualités Eurovision */

section.actualite{
  height: 70vh;
  background-color: #f2eef3;
}

section.actualite h1{
  color: #19305b;
  font-family: 'Moderat';
  font-size: 40px;
  font-weight: 100;
}


Lastlings - Out Of Touch
Maisy Kay - Blood Filled Tears








